* {
  font-family: "Poppins", sans-serif;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1040px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: inline-block;
  }
}
